/* Path: src/App/App.css */

html{
  min-height: 100%;
}

html,
body,
#react-root {
  height: 100%;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #ffffff;
    color: #223651;
}

/* --------------------------------------------------------------------------------
Nav Treatment
-------------------------------------------------------------------------------- */

.navContainer{
  /* flex box layout */
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin: 0px 0px 10px;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid #39DD85;
  padding-right: 20px;
  padding-left: 20px;
  /* background-image: linear-gradient(to left, #39DD85, #ffffff); */
}

.navLink{
  color: #223651;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

/* --------------------------------------------------------------------------------
Container Treatment
-------------------------------------------------------------------------------- */

.container{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------------------------------------------------------------------
Header Treatment
-------------------------------------------------------------------------------- */

.headerContainer{
  padding-bottom: 20px;
}

/* --------------------------------------------------------------------------------
Intro Treatment
-------------------------------------------------------------------------------- */

.intro{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selfImgContainer {
  max-width: 250px;
  max-height: 250px;
  align-items: center;
  position: relative;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding-right: 40px;
}

.selfImg{
  max-width: inherit;
  max-height: inherit;
  border: 2px solid transparent;
  background-image: linear-gradient(to botttom right, #39DD85, #223651);
  border: 3px solid #39DD85;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4);
}

.icon{
  position: relative;
  top: 5px;
  padding-right: 10px;
}

.githubIcon{
  top: 5px;
  padding-left: 15px;
  position: relative;
}

.linkedinIcon{
  top: 5px;
  padding-left: 15px;
  position: relative;
}

.workIcon{
  top: 5px;
  padding-left: 15px;
  position: relative;
}

/* --------------------------------------------------------------------------------
Footer Treatment
-------------------------------------------------------------------------------- */

.footer{
  color: rgba(34, 54, 81, 0.5);
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}
