/* Path: src/App/App.css */

html,
body,
#react-root {
  height: 100%;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #ffffff;
    color: #223651;
}

.navContainer{
  /* flex box layout */
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin: 0px 0px 10px;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid #39DD85;
  padding-right: 20px;
  padding-left: 20px;
  /* background-image: linear-gradient(to left, #39DD85, #ffffff); */
}

.container{
  padding-top: 30px;
}

.headerContainer{
  padding-bottom: 20px;
}

.selfImgContainer {
    max-width: 250px;
    max-height: 250px;
    align-items: center;
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.selfImg{
  max-width: inherit;
  max-height: inherit;
  border: 2px solid transparent;
  background-image: linear-gradient(to botttom right, #39DD85, #223651);
  border: 2px solid #39DD85;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4);
}

/* do I need to list transparent above? */